# Auto detect text files and perform CRLF normalization
* text=auto eol=crlf
*.key text eol=crlf
*.def text eol=crlf
*.ini text eol=crlf
*.txt text eol=crlf
*.mnu text eol=crlf
*.bat text eol=crlf
*.tex text eol=crlf
